@import "../../responsive.scss";

nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  .mHome,
  .mAbout,
  .mProjects,
  .mContact {
    &:hover {
      padding-bottom: 5px;
      border-bottom: 2px solid black;
      cursor: pointer;
    }
  }
  a {
    @include sm {
      display: none;
    }
  }

  .navbar {
    display: flex;
    align-items: center;
    gap: 50px;
    font-weight: 500;

    .logo {
      font-weight: bold;
      font-size: 20px;
      display: flex;
      align-items: center;

      img {
        width: 60px;
        height: 60px;
        background-color: black;
        border-radius: 5px;
      }

      span {
        @include md {
          display: none;
        }

        @include sm {
          display: initial;
        }
      }
    }

    .mHome img {
      display: inline-block;
      width: 16px;
      padding-right: 2px;
    }
    .mAbout img {
      display: inline-block;
      width: 16px;
      padding-right: 2px;
    }
    .mProjects img {
      display: inline-block;
      width: 16px;
      padding-right: 2px;
    }
    .mContact img {
      display: inline-block;
      width: 16px;
      padding-right: 2px;
    }
  }

  .right {
    flex: 2;
    align-items: center;
    display: flex;
    justify-content: flex-end;

    a {
      margin: 5px;
    }

    .menuIcon {
      display: none;
      z-index: 999;

      img {
        width: 32px;
        height: 32px;
        cursor: pointer;
      }

      @include sm {
        display: initial;
        z-index: 999;
      }
    }

    .menu {
      position: absolute;
      background-color: black;
      top: 0;
      right: -50%;
      color: white;
      height: 100vh;
      width: 50%;
      transition: all 1s ease;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      gap: 75px;
      z-index: 999;

      &.active {
        right: 0;
      }

      @include sm {
        a {
          display: initial;
        }
      }
    }
  }
}
